@media (max-width: 1000px) {

    vaadin-button {
        padding: 0;
        min-width: var(--lumo-size-m);
    }

    vaadin-button::part(label) {
        display: none;
    }

    vaadin-button::part(prefix) {
        margin: 0;
    }

}