.switching-layout {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
}

.media-queries-view {
    container-name: view-root;
    container-type: inline-size;
}

@container view-root (width < 600px) {

    .switching-layout {
        flex-direction: column;
    }

}
