@import "layout-media-query.css";
/*@import "layout-container-query.css";*/
@import "buttons-media-query.css";
/*@import "buttons-container-query.css";*/

@import "widgets.css";



.user-details {
    display: grid;
    grid-template-areas: "avatar name" "avatar email";
    grid-template-columns: auto 1fr;
    grid-gap: var(--lumo-space-s) var(--lumo-space-m);
    line-height: 1.0;
    align-items: center;

    & vaadin-avatar {
        grid-area: avatar;
    }
    & .name {
        grid-area: name;
        font-size: var(--lumo-font-size-l);
        font-weight: bold;
        align-self: end;
    }
    & .email {
        grid-area: email;
        align-self: start;
    }
}